body{
    font-family: 'Helvetica-regular', 'OpenSans-Regular', arial, sans-serif;
    background-color: #f5f5f5;
    height: 100%;
}
.preheader{
    height: 6px;
    width: 100%;
    background-color: #6e10a7;
}
.header{
    width: 100%;
    background-color: #fff;
    border-bottom: 1px solid #ccc;
    height: 120px;
}
.logo-holder {
    margin-top: 33px;
    float: left;
}
.search-holder{
    margin-left: 50px;
    float: left;
    margin-top: 37px;
}
#main-search {
    height: 48px;
    border: 2px solid #6e10a7;
    border-radius: 5px;
    padding-left: 11px;
    width: 260px;
    outline: 0;
    letter-spacing: 0.9px;
    font-size: 18px;
    font-family: PTSans-Regular, openSans, arial, sans-serif;
}

#main-search:focus {
    box-shadow: 0 0 10px rgba(110, 16, 167, 0.35);
}
.cart-holder{
    margin-left: 50px;
    float: left;
    height: 119px;
    background-color: #faf3ff;
    text-align: center;
    padding-top: 35px;
    padding-left: 20px;
    padding-right: 20px;
    cursor: pointer;
}
.cart-icon{
    font-size: 35px;
    color: #1410a7
}
.cart-title {
    margin-top: 7px;
    font-family: PTSans-Regular, openSans, arial, sans-serif;

}

.cart-holder:hover{
    background-color: #6e10a7;
}
.cart-holder:hover .cart-icon{
    color: #fff
}
.cart-holder:hover .cart-title{
    color: #fff
}
.contacts-holder {
    font-family: PTSans-Bold, Open Sans, arial, sans-serif;
    float: right;
}
.contacts-phone{
    font-size: 22px;margin-top: 18px;
}

.contacts-email{
    font-size: 18px;
    font-family: PTSans-Regular, openSans, arial, sans-serif;
    text-align: right;
    margin-top: 3px;
}
.timeofwork{
    text-align: right;
    color: #6e10a7;
    font-size: 17px;
    font-family: PTSans-Regular, openSans, arial, sans-serif;
    margin-top: 6px;
}
.site-content {
    padding-top: 30px;
}
.cat-item {
    background-color: #fff;
    border-radius: 5px;
    overflow: hidden;
    cursor: pointer;
    margin-bottom: 30px;
}

.cat-item:hover{
    box-shadow: 0 0 30px rgba(0,0,0,0.2);
}

.cat-image-holder img{
    width: 100%;

}

.cat-title-holder {
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 20px;
    text-align: center;
}
.cat-dd-row{
    height: 0;
    overflow: hidden;
    background-color: #EEEEEE;
}


.cart-item-to-favorite-holder{

}
.cart-item-to-favorite{

}